#home_bg {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 680px; /* Set height to 400px */
  width: 1450px; /* Set width to 520px */
  z-index: -3;
}
#name {
  color: #b49f9f;
  background-color: rgba(44, 15, 15, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}

#container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
  margin-right: 30px;
  margin-top: -80px;
  font-size: large;
}

.nav-item {
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none; /* Removes the underline from the links */
  color: #b49f9f;
}

.nav-item:hover {
  background-color: rgb(60, 60, 89, 0.7);
}

#about {
  margin-top: 650px;
}

h1 {
  margin-left: 10px;
  color: #b1b4ce;
}

#about {
  background-color: rgb(37, 45, 69);
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
}

#about_img {
  width: 700px; /* Set width for the image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}

#services {
  background-color: rgb(38, 50, 43);
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
  height: 422px;
}

#services_img {
  width: 750px; /* Set width for the image */
  height: auto; /* Maintain aspect ratio */
  margin-left: 580px;
}

#contact {
  background-color: rgb(83, 43, 43);

  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
}

#contact_img {
  width: 700px; /* Set width for the image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}

footer {
  text-align: center;
  font-style: italic;
}

#about_detail {
  margin-top: 4%;
  margin-right: 4%;
  font-size: 24px;
  margin-left: -4%;

  color: rgb(189, 189, 200);
}

body {
  min-width: 640px;
  background-color: #b1b4ce;
}

#service_detail {
  font-size: 24px;
  color: rgb(189, 189, 200);

  width: 600px;
  margin-left: -7%;
  margin-top: -26%;
  margin-bottom: 1px;
}

#service_list {
  font-size: 24px;
  color: rgb(189, 189, 200);
  margin-left: -7%;
  margin-top: -1%;
}

#contact_detail {
  font-size: 24px;
  color: rgb(189, 189, 200);
  border: 3px solid red;
  width: 600px;
  margin-left: 750px;
  margin-top: -500px;
}
